<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h1>Thanks! we'll give you a call.</h1>
            <p>We appreciate you taking the time to fill out this form. A representative will call you to schedule an
                in-person
                consultation.</p>
        </div>
    </div>
</div>
</body>
</html>